
.why__contatiner {
  width: 80%;
  position: relative;
  margin: auto;
}
.why__contatiner i {
  top: 60%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.why__contatiner i:active{
  transform: translateY(-50%) scale(0.85);
}
.why__contatiner i:first-of-type{
  left: -22px;
}
.why__contatiner i:last-child{
    right: -22px;
}
.why__contatiner .why__details{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  width: 100%;
  margin: auto;
}
.why__details::-webkit-scrollbar {
  display: none;
}
.why__details.no-transition {
  scroll-behavior: auto;
}
.why__details.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.why__details.dragging .why__item {
  cursor: grab;
  user-select: none;
}
.why__details :where(.why__item, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.why__details .why__item {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.why__details .why__item .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.why__item .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.why__details .why__item h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.why__details .why__item span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .why__contatiner .why__details {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .why__contatiner .why__details {
    grid-auto-columns: 100%;
  }
}