:root {
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --accent-color: #004aad;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  overflow-x: hidden;
}

.reset__a {
  color: #000000;
  text-decoration: none;
}

.page__wrapper {
  width: 100%;
  height: auto;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  padding-block: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--primary-color);
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.header__scroll__up {
  transform: translateY(-100%);
}

.header__scroll__down {
  transform: translateY(0);
}

.mobile__header__scroll__up {
  transform: translateY(-100%);
}

.mobile__header__scroll__down {
  transform: translateY(0);
}

.mobile__header{
  display: none;
}

.brand__logo img {
  height: 60px;
}

.search__box {
  position: relative;
}

.search__box i {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.search__box input {
  width: 360px;
  padding-inline-start: 45px;
  padding-inline-end: 10px;
  padding-block: 12px;
  font-size: 1rem;
  border: 1px solid var(--accent-color);
  outline: none;
}

.search__box button {
  background-color: var(--accent-color);
  color: var(--primary-color);
  padding-inline: 20px;
  padding-block: 12px;
  font-size: 1rem;
  border: 1px solid var(--accent-color);
  outline: none;
  margin-left: -5px;
  cursor: pointer;
}

.request__quote__box a {
  background-color: var(--accent-color);
  color: var(--primary-color);
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

nav {
  margin-top: 90px;
  text-align: center;
  width: 100%;
  padding-block: 5px;
  background-color: #eee;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--secondary-color);
  transition: all 0.2s ease;
}

nav ul li:hover {
  transform: translateY(-2px);
}

nav ul li a:hover {
  color: var(--accent-color);
}

.mobile__nav{
  display: none;
}

.home__container {
  width: 100%;
}


main {
  background-color: var(--primary-color);
  width: 100%;
  height: 100vh;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 50px;
}


.sidebar {
  background-color: var(--primary-color);
  padding: 20px;
  height: auto;
  width: fit-content;
  overflow-y: scroll;
}

.sidebar__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar__item {
  border-bottom: 1px solid var(--secondary-color);
  font-size: 1rem;
}

.sidebar__item:first-of-type {
  font-size: 1.5rem;
  margin-bottom: 15px;
  border-bottom: none;
}

.sidebar__item .view__all__btn {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 1.2rem;
}

.sidebar__item .reset__a {
  text-decoration: none;
  color: var(--secondary-color);
  display: block;
  transition: all 0.2s ease;
  padding-inline: 10px;
  padding-block: 10px;
}

.sidebar__item .reset__a:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.slider {
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  flex-direction: row;
}

.slides img {
  width: 100%;
}

.mb__slider {
  position: relative;
  overflow: hidden;
}

.mb__slides {
  display: flex;
  flex-direction: row;
}

.mb__slides img {
  width: 100%;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--accent-color);
  color: white;
  padding: 20px 15px;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.mb__slider{
  display: none;
}

.why__contatiner {
  /* background-color: red; */
  padding-block: 50px;
}

.why__heading {
  color: var(--secondary-color);
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.why__details {
  display: flex;
  flex-direction: row;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.why__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 300px;
}

.why__item img {
  width: 100px;
}

.why__item h6 {
  font-size: 1.2rem;
}

.why__item p {
  font-size: 1rem;
  text-align: center;
}

.hot__container {
  padding-block: 50px;
  /* background-color: blue; */
}

.hot__heading {
  color: var(--secondary-color);
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.hot__products{
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  animation: linear-translate 15s ease-in-out infinite;
}

.hot__product img{
  width: 300px;
}

.latest__container{
  padding-block: 50px;
  /* background-color: red; */
}

.latest__heading {
  color: var(--secondary-color);
  text-align: center;
  font-size: 1.5rem;
}

.latest__products {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.latest__product {
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.latest__product:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.latest__product img {
  width: 200px;
}

.p__category {
  font-size: 0.8rem;
  color: #333;
}

.p__model {
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.all__prod__btn {
  background-color: var(--accent-color);
  color: var(--primary-color);
  padding-inline: 30px;
  padding-block: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: block;
  width: fit-content;
  margin-inline: auto;
  margin-top: 50px;
}

.manufac__container{
  width: 100%;
}

.manufac__heading {
  color: var(--secondary-color);
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 50px;
  padding: 20px;
}

.manufac__flags{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: scroll;
  gap: 50px;
  /* padding-inline: 50px; */
  width: 80%;
  margin: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.manufac__flags::-webkit-scrollbar{
  visibility: hidden;
}

.manufac__flags img{
  width: 200px;
}


.customers__container{
  width: 100%;
}

.customer__heading {
  color: var(--secondary-color);
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 50px;
  padding: 20px;
}

.customer__flags{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: scroll;
  gap: 50px;
  /* padding-inline: 50px; */
  width: 80%;
  margin: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.customer__flags::-webkit-scrollbar{
  visibility: hidden;
}

.customer__flags img{
  width: 150px;
}

.enquiry__container {
  padding: 50px;
}

.enquiry__heading {
  color: var(--secondary-color);
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.enquiry__box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 90vh;
  width: 80vw;
  margin: auto;
}

.enquiry__banner{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/images/enquiry-banner.jpg');
  background-position: center;
  background-size: cover;
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: 700;
}

.enquiry__form{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.article__container {
  padding-block: 20px;
  /* background-color: blue; */
}

.article__heading {
  color: var(--secondary-color);
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 50px;
}
.article__heading h6{
  color: var(--secondary-color);
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 50px;
}

.articles{
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}

.article{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 20px 30px 20px;
  border-radius: 10px;
}

.article:hover img{
  scale: 1.05;
  transform: rotate(2deg);
  transition: all .3s ease-in-out;
  opacity: .6;
}

.article img{
  
  width: 350px;
}

.article p{
  width: 350px;
  font-size: 1.5rem;
  margin-block: 30px;
  padding-inline: 20px;
}

.read__more__btn{
  background-color: var(--accent-color);
  color: var(--primary-color);
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 20px;
  display: block;
  width: fit-content;
}


footer {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.footer__quick__links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding-block: 30px;
}

.footer__quick__links ul li {
  list-style: none;
  font-size: 1rem;
  margin-bottom: 10px;
}

.footer__quick__links ul li:first-of-type {
  color: var(--accent-color);
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.social__links i {
  font-size: 2rem;
  color: var(--accent-color);
  margin-right: 20px;
}
.social__links i:nth-of-type(2) {
  margin-right: 0px;
}

.footer__credits {
  background-color: var(--accent-color);
  color: var(--primary-color);
  width: 100%;
  padding-block: 20px;
  text-align: center;
  font-size: 1rem;
}

/* Responsive CSS for Mobile devices */
@media screen and (max-width: 900px) {
  .page__wrapper{
    position: relative;
    overflow-x: hidden;
  }

  .sidebar{
    display: none;
  }

  main{
    height: auto;
    padding: 20px;
  }


  .brand__logo img {
    height: 50px;
  }

  header .search__box{
    display: none;
  }

  .request__quote__box{
    display: none;
  }

  nav{
    display: none;
  }

  header{
    display: none;
  }

  .mobile__header {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--primary-color);
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    transition: transform 0.3s ease;
  }

  .mobile__header div:first-of-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .mobile__header div:last-of-type{
    padding: 0 10px;
  }

  .mobile__header .brand__logo img {
    height: 60px;
  }

  .mobile__header #open{
    display: block;
    font-size: 1.8rem;
  }

  .mobile__nav #close{
    display: block;
    position: absolute;
    color: var(--primary-color);
    top: 20px;
    right: 20px;
    font-size: 2rem;
  }

  .mobile__header .search__box input {
    width: 100%;
    padding-inline-start: 45px;
    padding-inline-end: 100px;
    padding-block: 12px;
    font-size: 1rem;
    border: 1px solid var(--accent-color);
    outline: none;
  }

  .search__box button {
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding-inline: 12px;
    padding-block: 12px;
    font-size: 1rem;
    border: 1px solid var(--accent-color);
    outline: none;
    margin-left: -5px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }

  .mobile__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    background-color: var(--accent-color);
    z-index: 20;
    transition: all .3s ease-in-out;
  }

  .mobile__nav ul li {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary-color);
    transition: all 0.2s ease;
    margin-bottom: 20px;
  }
  
  .mobile__nav ul li a {
    color: var(--primary-color);
  }

  .slider{
    display: none;
  }

  .mb__slider{
    display: block;
    margin-top: 150px;
  }

  .prev,
.next {
  padding: 10px 8px;
  font-size: 20px;
}

  .why__heading{
    font-size: 1.2rem;
    padding-inline: 20px;
  }

  .why__details{
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: left;
    padding-inline: 20px;
  }

  .why__item p{
    width: 250px;
    padding-inline: 20px;
  }
  .hot__heading{
    font-size: 1.2rem;
    padding-inline: 20px;
  }

  .hot__products{
    overflow-x: scroll;
    justify-content: left;
    padding-inline: 20px;
    animation: none;
  }
  .latest__heading{
    font-size: 1.2rem;
    padding-inline: 20px;
  }

  .latest__products {
    padding-inline: 20px;
    flex-wrap: nowrap;
    justify-content: left;
    overflow-x: scroll;
  }

  .enquiry__container{
    padding: 20px;
  }

  .enquiry__heading{
    font-size: 1.2rem;
    padding-inline: 20px;
  }

  .enquiry__box{
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    width: 100%;
  }

  .enquiry__banner{
    font-size: 2rem;
  }
  
  .article__heading{
    font-size: 1.2rem;
    padding-inline: 20px;
  }

  .articles{
    overflow-x: scroll;
    gap: 20px;
    justify-content: left;
    padding-inline: 20px;
  }

  .article img{
    width: 300px;
  }
  .article p{
    width: 300px;
  }



  .footer__quick__links {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .footer__quick__links ul li {
    text-align: center;
  }

  .footer__credits {
    padding-inline: 10px;
  }
}


@keyframes linear-translate{
  from{
    transform: translateX(100%);
  }

  to{
    transform: translateX(-100%);
  }
}