:root{
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --accent-color: #004aad;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    height: auto;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    overflow-x: hidden;
}

.reset__a{
    color: #000000;
    text-decoration: none;
}

.page__wrapper{
    width: 100%;
    height: auto;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    padding-block: 10px;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: var(--primary-color);
    width: 100%;
    height: auto;
}

.brand__logo img{
   height: 60px;
}

.search__box{
    position: relative;
}

.search__box i{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.search__box input{
    width: 360px;
    padding-inline-start: 45px;
    padding-inline-end: 10px;
    padding-block: 12px;
    font-size: 1rem;
    border: 1px solid var(--accent-color);
    outline: none;
}

.search__box button{
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding-inline: 20px;
    padding-block: 12px;
    font-size: 1rem;
    border: 1px solid var(--accent-color);
    outline: none;
    margin-left: -5px;
    cursor: pointer;
}

.request__quote__box a{
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding-inline: 20px;
    padding-block: 10px;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

nav{
    margin-top: 90px;
    text-align: center;
    width: 100%;
    padding-block: 5px;
    background-color: #eee;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-size: 1rem;
    font-weight: 700;
    color: var(--secondary-color);
    transition: all .2s ease;
}

nav ul li:hover{
    transform: translateY(-2px);
}

nav ul li a:hover{
    color: var(--accent-color);
}

.home__container{
    display: flex;
    flex-direction: row;
    background-color: red;
}

.sidebar {
    background-color: var(--primary-color);
    padding: 20px;
    height: calc(100vh - 110px);
    width: fit-content;
    overflow-y: scroll;
}

.sidebar__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar__item {
    /* margin-bottom: 10px; */
    border-bottom: 1px solid var(--secondary-color);
}

.sidebar__item:first-of-type{
    font-size: 1.5rem;
    margin-bottom: 20px;
    border-bottom: none;
}

.sidebar__item .view__all__btn{
    text-decoration: none;
    color: var(--accent-color);
    font-size: 1.2rem;
}

.sidebar__item .reset__a {
    text-decoration: none;
    color: var(--secondary-color);
    display: block;
    transition: all .2s ease;
    padding-inline: 10px;
    padding-block: 15px;
    border-radius: 5px;
}

.sidebar__item .reset__a:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

main{
    background-color: #f7f7f7;
    width: 90%;
    padding: 20px;
}

footer{
    width: 100%;
}

.footer__quick__links{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-block: 30px;
}

.footer__quick__links ul li{
    list-style: none;
    font-size: 1rem;
    margin-bottom: 10px;
}

.footer__quick__links ul li:first-of-type{
    color: var(--accent-color);
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.social__links i{
    font-size: 2rem;
    color: var(--accent-color);
    margin-right: 20px;
}

.footer__credits{
    background-color: var(--accent-color);
    color: var(--primary-color);
    width: 100%;
    padding-block: 20px;
    text-align: center;
    font-size: 1rem;
}
